In [1]:
 import pandas as pd

In [3]:
df = pd.read_csv("dataset/salaries.csv")
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

Preprocess the Dataframe - remove strings

In [18]:
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

y = df["salary_more_then_100k"]

X = df.copy()

X["company"] = le_company.fit_transform(X["company"])
X["job"] = le_job.fit_transform(X["job"])
X["degree"] = le_degree.fit_transform(X["degree"])
X.drop(["salary_more_then_100k"], axis=1, inplace=True)

In [12]:
le_company.classes_

array(['abc pharma', 'facebook', 'google'], dtype=object)

In [13]:
le_degree.classes_

array(['bachelors', 'masters'], dtype=object)

In [14]:
le_job.classes_

array(['business manager', 'computer programmer', 'sales executive'],
      dtype=object)

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.1)

In [40]:
from sklearn.tree import DecisionTreeClassifier

m = DecisionTreeClassifier()
m.fit(X, y)
# m.fit(X_train, y_train)

DecisionTreeClassifier()

In [30]:
m.score(X_test, y_test)

0.6

In [38]:
m.predict([[2, 2, 1]])

/Users/hiro/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])