In [1]:
import pandas as pd
from sklearn import linear_model

In [4]:
df = pd.read_csv("dataset/homeprices-multivar.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Preprocessing the data i.e X,y for the model.

- Removing NaNs
- Converting strings to numbers

In [5]:
import math

median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [14]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

Traing the model

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)  #input dataset should be a dataframe not series

LinearRegression()

Testing the model

In [16]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
reg.intercept_

221323.00186540425

In [24]:
test_area = 3000
test_bedrooms = 3
test_age = 40
test_prediction = reg.predict([[test_area, test_bedrooms, test_age]])
test_prediction

/Users/hiro/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [23]:
m1, m2, m3 = reg.coef_
b = reg.intercept_

math_answer = m1*test_area + m2*test_bedrooms + m3*test_age + b
math_answer

498408.2515803069

In [32]:
math.isclose(math_answer, test_prediction[0], abs_tol=pow(10, -8))

True

Exercise
There is **hiring.csv**. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

**2 yr experience, 9 test score, 6 interview score**

**12 yr experience, 10 test score, 10 interview score**

In [36]:
df = pd.read_csv('dataset/hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [37]:
df.columns = ['experience', 'test_score', 'interview_score', 'salary']
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

Data Preprocessing

- experience - Replace Nan with zero, Convert experience to numbers using word2num
- test_score - fillan with median

In [ ]:
from word2number import w2n

df.experience = df.experience.fillna('zero')
df.experience.apply(w2n.word_to_num)

In [ ]:
median_test_score = math.floor(df['test_score'].mean())
df.test_score = df.fillna(median_test_score)

In [42]:
X = df.drop('salary', axis=1)
y = df['salary']
X

  experience  test_score  interview_score
0        NaN         8.0                9
1        NaN         8.0                6
2       five         6.0                7
3        two        10.0               10
4      seven         9.0                6
5      three         7.0               10
6        ten         NaN                7
7     eleven         7.0                8

In [ ]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X, y)

In [ ]:
test_cases = [[2, 9, 6], [12, 10, 10]]

reg.predict(test_cases)

In [43]:
reg.score(X, y)

/Users/hiro/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- experience
- interview_score
- test_score
Feature names seen at fit time, yet now missing:
- age
- area
- bedrooms

  warnings.warn(message, FutureWarning)

ValueError: could not convert string to float: 'five'