<p><b>We have a dataset containing prices of used BMW cars. We are going to analyze this dataset
and build a prediction function that can predict a price by taking mileage and age of the car
as input. We will use sklearn train_test_split method to split training and testing dataset</b></p>

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('dataset/carprices.csv')
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [18]:
y = df['Sell Price($)']
X = df.drop('Sell Price($)', axis=1)

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)  #get constant
X_train

    Mileage  Age(yrs)
3     22500         2
18    87600         8
13    58780         4
2     57000         5
14    82450         7
8     91000         8
17    69000         5
16    28000         2
19    52000         5
12    59000         5
11    79000         7
1     35000         3
0     69000         6
15    25400         3
4     46000         4
9     67000         6

In [32]:
from sklearn.linear_model import LinearRegression

m = LinearRegression()
m.fit(X_train, y_train)

LinearRegression()

In [37]:
m.score(X_test, y_test)

0.7332339593090138